.container
  .mt-4.mb-5
    %h3.d-flex.flex-column.flex-md-row.justify-content-between
      %div
        %span
        = link_to "Home", root_path
        %span.mx-2 →
        = link_to @repo.address, "https://github.com/#{@repo.address}", target: '_blank', class: 'r-unstyled-link'
      %div
        - if @repo.analyzed
          %small.text-muted
            = @repo.stargazers_count
            %span.mr-3= image_tag("star.png", size: "19x20", alt: "fork")

            = @repo.forks_count
            %span.mr-3= image_tag("fork.png", size: "14x20", alt: "fork")

            - if @repo.license
              - if @repo.license == 'Other'
                = link_to '(Other licence)', "https://github.com/#{@repo.address}", target: '_blank', class: 'r-unstyled-link'
              - else
                = link_to @repo.license, @repo.license_url, class: 'text-muted'
            - else
              (NO LICENCE)
    - if @repo.analyzed
      %p.mt-4
        = @repo.about
        %br
        Created:
        %span.font-weight-bold
          = @repo.repo_created_at.strftime("%b %d, %Y")
          = surround '(', ')' do
            = distance_of_time_in_words(Time.now - @repo.repo_created_at)
            ago

  - if !@repo.analyzed
    .alert.alert-warning
      Analysis in progress… Please, reload this page in a moment.
      Note that it may take
      %strong several minutes
      for large projects to be analyzed.

- if @repo.analyzed
  .container-fluid.bg-light.px-0.mt-4
    .container
      .row
        .col-12.col-md-6.col-lg-4.my-4.d-flex.flex-column.justify-content-center
          .h3.mb-0.pr-3.font-weight-bold
            Status:
            - if (@repo.repo_updated_at < Time.now-6.months)
              %span.text-danger Stale
              .h5.text-muted.font-weight-light
                Updated 6+ months ago
                = surround '(', ')' do
                  = @repo.repo_updated_at.strftime("%m/%d/%Y")
            - elsif @repo.repo_updated_at < Time.now-3.months
              %span.text-warning On pause..?
              .h5.text-muted.font-weight-light
                Updated 3-6 months ago
                = surround '(', ')' do
                  = @repo.repo_updated_at.strftime("%m/%d/%Y")
            - else
              %span.text-success Active
              .h5.text-muted.font-weight-light
                Updated
                = @repo.repo_updated_at.strftime("%b %d, %Y")

        .col-12.col-md-6.col-lg-4.my-4
          .d-flex.flex-row.align-items-center
            = link_to "https://github.com/#{@repo.address}/graphs/contributors", target: '_blank', class: 'r-unstyled-link d-flex flex-row align-items-center r-unhoverable-link' do
              .h1.display-4.mb-0.pr-3.font-weight-bold
                = @repo.contributors + @repo.contributors_incl_anon
              .h5.mb-0
                - if @repo.contributors + @repo.contributors_incl_anon == 1
                  contributor
                - else
                  contributors
                %br
                %span.text-muted.font-weight-light
                  = surround '(', ')' do
                    = @repo.contributors_incl_anon - @repo.contributors
                    anon.

        .col-12.col-md-6.col-lg-4.my-4.d-flex.flex-column.justify-content-center
          .h5.pr-3.font-weight-bold
            - if @repo.readme_lenght
              = link_to @repo.readme_url, target: '_blank', class: 'text-success' do
                ✓ Readme
            - else
              %span.text-warning No readme

          .h5.mb-0.pr-3.font-weight-bold
            - if @repo.has_wiki
              = link_to "https://github.com/#{@repo.address}/wiki", target: '_blank', class: 'text-success' do
                ✓ Wiki
            - else
              %span.text-warning No wiki

  -# =======================================
  -# CLOSED Prs and ISSUES

  .container-fluid.bg-light.px-0.border-top
    .container
      .row
        .col-12.col-md-6.my-5
          - if @repo.open_issues_count > 0
            .d-flex.flex-row.align-items-center
              .h1.display-4.mb-0.pr-3.font-weight-bold.text-warning
                - if @repo.open_issues_count == 100
                  = succeed '+' do
                    = @repo.open_issues_count
                - else
                  = @repo.open_issues_count
              .h5.mb-0
                open
                - if @repo.closed_issues_count == 1
                  issue
                - else
                  issues
                %br
                %span.text-muted.font-weight-light (including PRs)

            .mt-3
              .h1.mb-0.pr-3.font-weight-bold.text-warning
                = distance_of_time_in_words(@repo.average_open_issue_age).gsub('about ','')
              .h5.mb-0
                average open issue age
                %br
                %span.text-muted.font-weight-light
                  = surround '(', ')' do
                    median
                    = distance_of_time_in_words(@repo.median_open_issue_age).gsub('about ','≈')


            .lead.mt-5
              %p
                Oldest open issue
                %span.font-weight-bold
                  = distance_of_time_in_words(@repo.max_open_issue_age)
                %br

                Newest open issue
                %span.font-weight-bold
                  = distance_of_time_in_words(@repo.min_open_issue_age)

              - if @repo.open_issues_count == 100
                %p
                  (based on the last 100 open issues)

          - else
            .d-flex.flex-row.align-items-center.text-muted
              .h1.display-4.mb-0.pr-3.font-weight-bold
                NO
              .h5.mb-0
                open
                issues
                %br
                %span.text-muted.font-weight-light (including PRs)
        .col-12.col-md-6.my-5
          - if @repo.closed_issues_count > 0
            .d-flex.flex-row.align-items-center
              .h1.display-4.mb-0.pr-3.font-weight-bold.text-success
                - if @repo.closed_issues_count == 100
                  = succeed '+' do
                    = @repo.closed_issues_count
                - else
                  = @repo.closed_issues_count
              .h5.mb-0
                closed
                - if @repo.closed_issues_count == 1
                  issue
                - else
                  issues
                %br
                %span.text-muted.font-weight-light (including PRs)

            .d-flex.flex-column.mt-3
              .h1.mb-0.pr-3.font-weight-bold.text-success
                = distance_of_time_in_words(@repo.average_issue_closing_time).gsub('about ','')
              .h5.mb-0
                average closing period
                %br
                %span.text-muted.font-weight-light
                  = surround '(', ')' do
                    median
                    = distance_of_time_in_words(@repo.median_issue_closing_time).gsub('about ','≈')

            .d-flex.flex-column.mt-5.lead
              %p
                Longest closing time
                %span.font-weight-bold= distance_of_time_in_words(@repo.max_issue_closing_time)
                %br
                Shortest closing time
                %span.font-weight-bold= distance_of_time_in_words(@repo.min_issue_closing_time)
              %p
                %span.font-weight-bold
                  = @repo.average_number_of_comments_per_issue
                  - if @repo.average_number_of_comments_per_issue == 1
                    comment
                  - else
                    comments
                  per issue
                on average
                = surround '(', ')' do
                  max
                  = @repo.max_number_of_comments_per_issue

              - if @repo.closed_issues_count == 100
                %p
                  (based on the last 100 closed issues)

          - else
            .d-flex.flex-row.align-items-center.text-muted
              .h1.display-4.mb-0.pr-3.font-weight-bold
                NO
              .h4.mb-0
                closed issues
                %br
                %span.text-muted.font-weight-light (including PRs)


  -# =======================================
  -# OPEN Prs and ISSUES

  .container-fluid.bg-light.px-0.border-top
    .container
      .row
        .col-12.col-md-6.my-5
          - if @repo.open_pr_count.nil?
            Still analyzing open pull requests… try refreshing the page
          - else
            - if @repo.open_pr_count > 0
              .d-flex.flex-row.align-items-center
                .h1.display-4.mb-0.pr-3.font-weight-bold.text-warning
                  - if @repo.open_pr_count == 100
                    = succeed '+' do
                      = @repo.open_pr_count
                  - else
                    = @repo.open_pr_count
                .h5.mb-0
                  open pull
                  %br
                  - if @repo.open_pr_count == 1
                    request
                  - else
                    requests

              .d-flex.flex-column.mt-3
                .h1.mb-0.pr-3.font-weight-bold.text-warning
                  = distance_of_time_in_words(@repo.average_open_prs_age).gsub('about ','≈')
                .h5.mb-0
                  average open PR age
                  %br
                  %span.text-muted.font-weight-light
                    = surround '(', ')' do
                      median
                      = distance_of_time_in_words(@repo.median_open_prs_age)

              .lead.mt-5
                %p
                  Oldest open PR
                  %span.font-weight-bold
                    = distance_of_time_in_words(@repo.max_open_prs_age)
                  %br

                  Newest open PR
                  %span.font-weight-bold
                    = distance_of_time_in_words(@repo.min_open_prs_age)

                - if @repo.open_pr_count == 100
                  %p
                    (based on the last 100 open PRs)

            - else
              .d-flex.flex-row.align-items-center.text-muted
                .h1.display-4.mb-0.pr-3.font-weight-bold
                  NO
                .h5.mb-0
                  open PRs
                  %br
                  %span.text-muted.font-weight-light right now
        .col-12.col-md-6.my-5
          - if @repo.closed_pr_count > 0
            .d-flex.flex-row.align-items-center
              .h1.display-4.mb-0.pr-3.font-weight-bold.text-success
                - if @repo.closed_pr_count == 100
                  = succeed '+' do
                    = @repo.closed_pr_count
                - else
                  = @repo.closed_pr_count
              .h5.mb-0
                closed
                %br
                - if @repo.closed_pr_count == 1
                  pull request
                - else
                  pull requests

            .mt-3
              .h1.mb-0.pr-3.font-weight-bold.text-success
                = distance_of_time_in_words(@repo.average_pr_closing_time).gsub('about ','≈')
              .h5.mb-0
                average merging time
                %br
                %span.text-muted.font-weight-light
                  = surround '(', ')' do
                    median
                    = distance_of_time_in_words(@repo.median_pr_closing_time)

            .lead.mt-5
              %p
                Longest merge
                %span.font-weight-bold= distance_of_time_in_words(@repo.max_pr_closing_time)
                %br

                Shortest merge
                %span.font-weight-bold= distance_of_time_in_words(@repo.min_pr_closing_time)

              - if @repo.closed_pr_count == 100
                %p
                  (based on the last 100 closed PRs)
          - else
            .d-flex.flex-row.align-items-center.text-muted
              .h1.display-4.mb-0.pr-3.font-weight-bold
                NO
              .h5.mb-0
                closed PRs
                %br
                %span.font-weight-light
                  right now


  .container-fluid.bg-light.px-0.border-top.pb-4
    .container
      .row.mt-5
        .col.text-center.text-muted
          %p
            This report was generated on
            = @repo.updated_at.strftime("%e %b %Y %H:%M:%S")
            (UTC).
            %br
            - if @repo.report_in_progress
              A new report is being generated right how… Try refreshing the page.
            - elsif (Time.now - @repo.updated_at) > 24.hours
              = link_to "Request fresh report", report_repository_path(@repo.id), class: 'btn btn-dark mt-3', method: :post
            - else
              = succeed '.' do
                New report can be requested in
                = Time.at((24.hours - (Time.now - @repo.updated_at))).utc.strftime("%H hours %M minutes %S seconds")

  .containter-fluid.border-top

    .container.py-5
      .row
        .col-12.col-xl-7
          %h4 Interested in comprehensive reports?
          %ul.r-lead
            %li Deeper analysis of development status
            %li Are there more popular forks?
            %li CI/Tests/Coverage info
            %li Batch reporting based on your package.json, Gemfile, etc.
            %li Periodic email reports

          %p.r-lead
            I'd love to work on these
            %strong
              paid features.
            If you're interested, subscribe to Repodig newsletter:

          %link{:href => "//cdn-images.mailchimp.com/embedcode/slim-10_7.css", :rel => "stylesheet", :type => "text/css"}/
          :css
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate.p-0{:action => "https://repodig.us1.list-manage.com/subscribe/post?u=de62eaf6c9d4231f028f54b69&id=5b75059a08", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_de62eaf6c9d4231f028f54b69_5b75059a08", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
          / End mc_embed_signup


          %p.r-lead.mt-5
            Contact me via
            = link_to "contact@rakhim.org", "mailto:contact@rakhim.org"
            or
            = succeed '.' do
              = link_to "twitter", "https://twitter.com/freetonik"

        -# .col-12.col-md-3.text-right.d-flex.flex-column.justify-content-end
        -#   .pb-4
        -#     Consider donating to keep this free service running
        -#     = link_to "https://www.paypal.me/rakhimd" do
        -#       = image_tag("paypal.png", size: "166x95", alt: "paypal")
